.element img {
  padding-right: 2rem;
  height: 350px;
  width: 250px;
}
.element h2 {
  padding-bottom: 1rem;
}

.element p {
  font-size: 1.4rem;
  padding-top: 3px;
}

.element button {
  margin-top: 1rem;
}

.primary {
  color: var(--blue);
  border: 2px solid var(--blue);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
}

.primary:hover {
  background-color: var(--light-blue);
}

.secondry {
  color: var(--orange);
  border: 2px solid var(--orange);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  margin-left: 2rem;
}

.secondry:hover {
  background-color: var(--light-orange);
}

/* small screen */
@media (max-width: 600px) {
  .element img {
    padding-left: 3rem;
    height: 280px;
    margin-bottom: 2rem;
  }
  .primary {
    padding: 1rem;
    margin: 2rem;
    width: 13rem;
  }
  .secondry {
    width: 13rem;
  }
}
