.cart-header {
  font-family: "Averia Serif Libre", cursive;
  font-weight: bold;
}

.data-padd h3 {
  margin-right: 5rem;
  width: 6.5rem;
  margin-bottom: 3rem;
}

.data-padd h2 {
  margin-right: 5.2rem;
}

.data-padd button {
  padding: 0.5rem;
  font-size: 1rem;
}

.data-padd .delete {
  border: 1px solid var(--red);
  color: var(--red);
}

.data-padd .delete:hover {
  background-color: var(--light-red);
}

.cart-total button {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 3rem;
}

.cart-total button:hover {
  background-color: var(--light-red);
}

/* small screen */
@media (max-width: 900px) {
  .data-padd h2 {
    display: none;
  }
  .data-padd h3 {
    margin-left: 7rem;
  }
}
