.products h1 {
  font-family: "Averia Serif Libre", cursive;
  font-weight: bold;
}

.card img {
  width: 100%;
}

.card h6 h5 {
  font-family: "Oswald", sans-serif;
}

.card p {
  font-family: "Lexend", sans-serif;
  font-size: 0.9rem;
  color: var(--gray);
}

.card:hover {
  box-shadow: 2px 2px 3px 3px #ccc;
}

.fa-cart {
  margin: 0.5rem 0rem;
  padding: 0.5rem 1rem 0rem;
  border: none;
  background-color: #93c5fd;
  border-radius: 5px;
  transform: translate(200%, 100%);
  transition: all 1s vertical;
}

.fa-cart .enable {
  color: white;
}
.fa-cart .disable {
  padding: 0rem 1.1rem;
}

.card:hover .fa-cart {
  transform: translate(0, 0);
}

.card {
  overflow: hidden;
  border: none;
}

.fa-cart:hover {
  cursor: pointer;
}

@media (max-width: 450px) {
  .fa-cart {
    transform: translate(0, 0);
  }
}
