.link1 {
  color: var(--white);
}

.link2 {
  font-size: 1.1rem;
  margin: 1px;
}

.link2 p {
  margin-top: 1rem;
  color: var(--white);
  border-radius: 5px;
  font-size: xx-large;
  margin-right: 1rem;
}

.link2 p:hover {
  color: var(--white);
}

.cart {
  position: absolute;
  right: 1rem;
}

.link1:hover {
  text-decoration: none;
  color: var(--white);
}

.link2:hover {
  text-decoration: none;
}

.counter {
  color: black;
  font-size: 0.8rem;
  position: absolute;
  margin-top: 5px;
  padding: 0px 2px;
  background-color: var(--white);
  border-radius: 50%;
  font-weight: bold;
}
