@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
body {
  background-color: white;
  margin: 0px;
}

:root {
  --white: #f3f4f6;
  --dark-red: #ef4444;
  --light-red: #fecaca;
  --red: #ef4444;
  --dark-blue: #3b82f6;
  --blue: #60a5fa;
  --light-blue: #bae6fd;
  --orange: #fb923c;
  --light-orange: #fed7aa;
  --hover-red: #7f1d1d;
  --gary: #9ca3af;
  --green: #10b981;
}
