@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,700&display=swap");

body {
  background-color: #f3f4f6;
  margin: 0px;
}

:root {
  --white: #f3f4f6;
  --dark-red: #ef4444;
  --light-red: #fecaca;
  --red: #ef4444;
  --dark-blue: #3b82f6;
  --blue: #60a5fa;
  --light-blue: #bae6fd;
  --orange: #fb923c;
  --light-orange: #fed7aa;
  --hover-red: #7f1d1d;
}
